body{
    width: 1024px;
    margin: auto;
}
.question {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid gray;
    padding: 3px 8px;
    margin: 2px 10px;
    border-radius: 5px;
}

.answers {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    padding: 3px 8px;
    margin: 2px 10px;
}