body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: auto;

}
table {
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
width: 100%;
border: 5px solid #C5DDE8;
font-weight: bold;
text-align: center;
}

#forecast {
   width: 100%;
   font-size: small;
   text-align: center;
}

#forecast > tr{
    font-size: large;
}

#head-container{
width: 100%;
box-sizing: border-box;
border: 5px solid #C5DDE8;
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
display: flex;
justify-content: space-between;
}

#header{
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    border: 5px solid #C5DDE8;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    display: flex;
    justify-content: center;
}

#btn-tempC, #btn-tempF{
    width: 50px;}

